/build
/out
/public
/_static
/node_modules/**
/env
/scripts
/.eslintrc.cjs
/.eslintrc.json
/.prettierrc
/jest.config.ts
/lint-staged.config.js
/README.md
/tsconfig.json
/tsconfig.node.json
/src/vite-env.d.ts
/vite.config.ts
/pnpm-lock.yaml
/tailwind.config.js
/postcss.config.js